<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
</IfModule>

RewriteCond %{HTTP_REFERER} !^http://beritainaje.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beritainaje.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beritainaje.my.id.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beritainaje.my.id.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gradingmedia.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gradingmedia.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gradingmedia.my.id.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gradingmedia.my.id.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://indoparcell.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://indoparcell.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://indoparcell.com.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://indoparcell.com.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beritainaje.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beritainaje.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beritainaje.my.id.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beritainaje.my.id.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gradingmedia.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gradingmedia.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gradingmedia.my.id.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gradingmedia.my.id.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.indoparcell.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.indoparcell.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.indoparcell.com.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.indoparcell.com.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://beritainaje.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://beritainaje.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://beritainaje.my.id.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://beritainaje.my.id.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gradingmedia.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gradingmedia.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gradingmedia.my.id.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gradingmedia.my.id.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://indoparcell.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://indoparcell.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://indoparcell.com.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://indoparcell.com.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.beritainaje.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.beritainaje.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.beritainaje.my.id.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.beritainaje.my.id.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gradingmedia.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gradingmedia.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gradingmedia.my.id.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gradingmedia.my.id.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.indoparcell.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.indoparcell.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.indoparcell.com.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.indoparcell.com.ladangcuan.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ladangcuan.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ladangcuan.com$      [NC]
RewriteRule .*\.(gif|bmp)$ - [F,NC]

